/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: lime;
   --backgr: #000;
 }

body {
  color: red;
}

/* Use your variables on elements */
/*
/*
main {
   color: var(--contrast);
   background-color: var(--backgr);
 }
*/   */

/** merge conflict efter disse tilføjelser
 body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
